.container {
  width: 100vw;
  height: 100vh;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container img {
  min-width: 250px;
}
.container p {
  min-width: 250px;
  font-size: 25px;
}
.modalWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(65, 52, 52, 0.7);
}
.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
  padding: 40px;
}
.container button {
  max-width: 140px;
  min-height: 40px;
  background-color: rgb(46, 151, 46);
  font-size: xx-large;
  font-weight: 600;
  margin-top: 20px;
}
